<a href="https://colab.research.google.com/github/muraliRoyal1/venkatasiva_INFO5731_Fall2020/blob/master/Copy_of_INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here
import numpy as np
np.random.seed(54)
random_list_12=list(np.random.randint(0,100,12))
print("random_list_12",random_list_12)
sorted_list_asec=sorted(random_list_12)
print("sorted_list_asec",sorted_list_asec)
sorted_list_desc=sorted(random_list_12,reverse=True)
print("sorted_list_desc",sorted_list_desc)
#mean of the random_list_12
print("mean of the group",np.mean(random_list_12))

random_list_12 [69, 2, 15, 23, 97, 64, 56, 7, 17, 9, 6, 68]
sorted_list_asec [2, 6, 7, 9, 15, 17, 23, 56, 64, 68, 69, 97]
sorted_list_desc [97, 69, 68, 64, 56, 23, 17, 15, 9, 7, 6, 2]
mean of the group 36.083333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].
(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [2]:
# Your code here
print("enter first sentence")
sentence1=input()
print("enter second sentence")
sentence2=input()

import re
regular_exp = r"[0-9a-zA-Z_]+|\$[\d\.]+|\S+"
se1=re.findall(regular_exp,sentence1)
se2=re.findall(regular_exp,sentence2)
final_list=se1+se2
print(final_list)

enter first sentence
Alas! Am I alive?
enter second sentence
This is my first python program
['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program']

In [3]:
words_in_both_sentences=list(set(se1).union(set(se2)))
print(words_in_both_sentences)

['This', 'my', '?', 'python', 'is', '!', 'alive', 'program', 'first', 'Am', 'Alas', 'I']

In [4]:
sentence1=sentence1.lower()
sentence2=sentence2.lower()
vowel_counts = {}

for i in "aeiou":
  count=sentence1.count(i)
  count1=sentence2.count(i)
  vowel_counts[i]=count+count1

In [5]:
vowel_counts

{'a': 5, 'e': 1, 'i': 5, 'o': 2, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
print("r\t\tV")
for i in range(1,11):
  V=(4/3)*np.math.pi*(i**3)
  print(i," ",V)

r		V
1   4.1887902047863905
2   33.510321638291124
3   113.09733552923254
4   268.082573106329
5   523.5987755982989
6   904.7786842338603
7   1436.7550402417319
8   2144.660584850632
9   3053.6280592892786
10   4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
# Your code here
import pandas as pd
df=pd.read_csv("/content/sample_data/Assignment1_denton_housing.csv",index_col="year")
df.sort_index(axis=0,ascending=True,inplace=True)
df2=df[df.title_field=="Occupied Housing Units"].sort_index(axis=0,ascending=True)
df2=df2.reset_index()

In [ ]:
arr1=df2[["year","value"]].values
l1=[]
for i in range(len(arr1)-1):
  l1.append(arr1[i+1][1]-arr1[i][1])
l1
print("years\t\tdifference")
for i in range(2008,2014):
  print(i,"-",i+1,"   ",l1[i-2008])

years		difference
2008 - 2009     -795
2009 - 2010     5091
2010 - 2011     -303
2011 - 2012     1404
2012 - 2013     1565
2013 - 2014     2622

In [ ]:
#For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format: 
#Year Vacant Housing Units Occupied Housing Units

In [ ]:
df.reset_index(inplace=True)
occupied_list=[]
vacant_list=[]
for i in range(2008,2015):
  occupied_list.append((df[(df["year"]==i) & (df["title_field"]=="Occupied Housing Units")].value.values)/(df[(df["year"]==i) & (df["title_field"]=="Total Housing Units")].value.values))
  vacant_list.append((df[(df["year"]==i) & (df["title_field"]=="Vacant Housing Units")].value.values)/(df[(df["year"]==i) & (df["title_field"]=="Total Housing Units")].value.values))

In [ ]:
print("Year \t Vacant\t Occupied")
for i in range(2008,2015):
  print(i,"\t",np.round(vacant_list[i-2008][0]*100,2),"\t",np.round(occupied_list[i-2008][0]*100,2))

Year 	 Vacant	 Occupied
2008 	 10.88 	 89.12
2009 	 9.07 	 90.93
2010 	 8.14 	 91.86
2011 	 9.38 	 90.62
2012 	 6.68 	 93.32
2013 	 8.8 	 91.2
2014 	 5.73 	 94.27

In [ ]:
xy=[]
yz=[]

for i in range(2008,2015):
  xy.append(occupied_list[i-2008][0])
  yz.append(vacant_list[i-2008][0])

print("\t\t\t year\t value")

for i in enumerate(occupied_list,start=2008):
  if(i[1][0]==max(xy)):
    #print(i[0])
    print("Occupied Housing Units \t",i[0],"\t",(df[(df.year==i[0])&(df.title_field=="Occupied Housing Units")].value.values)[0])
    break
for i in enumerate(vacant_list,start=2008):
  if(i[1][0]==max(yz)):
    #print(i[0])
    print("Vacant Housing Units \t",i[0],"\t",(df[(df.year==i[0])&(df.title_field=="Vacant Housing Units")].value.values)[0])
    break

			 year	 value
Occupied Housing Units 	 2014 	 46295
Vacant Housing Units 	 2008 	 4483

In [ ]:
#Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here

In [ ]:
from scipy import stats

df[df.title_field=="Total Housing Units"].value.values

array([41194, 39499, 44642, 44917, 45121, 47888, 49109])

In [ ]:
stats.hmean(df[df.title_field=="Total Housing Units"].value.values)

44398.28543969185