<a href="https://colab.research.google.com/github/muraliRoyal1/venkatasiva_INFO5731_Fall2020/blob/master/In_class_exercise_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second In-class-exercise (9/9/2020, 20 points in total)**

(1) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
test_list =[ 3,3, 5, 6, 1,1] 
x=len(test_list)

set_y=set(test_list)

#print(len(set_y))

if (x!=len(set_y)):
  print(list(set_y))
else:
  print(-1)

[1, 3, 5, 6]

(2) Write a Python program to select all the Sundays of a specified year. (4 points)

In [ ]:
# write your answer here
from datetime import date, timedelta

def all_sundays(year):
# January 1st of the given year
       dt = date(year, 1, 1)
# First Sunday of the given year       
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in all_sundays(2020):
   print(s)

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27

(3) Python files reading and writing. Download the “[exercise_02_data _collection.zip](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/In_class_exercise/exercise_02_data_collection.zip)” to your local and un-zip it.

*   Write a program to read all the txt files and save the sentences in all the files into one csv file with two columns, the first column is sentence id (txt file name+sentence line number), the second column is the sentence text content. (4 points)
*   Remove all the punctuations from the sentences, save the processed sentences into a new column in the same csv file. (4 points)
*   Ask the user to enter a word, return all the sentences that include this word, three kinds of information should be returned: sentence id, sentence text content, the count that user input word appear in the sentence. (4 points)

In [103]:
import os
list_dir=list(os.listdir('/content/sample_data/myfolder'))

import glob
path =r'/content/sample_data/myfolder'
filenames = glob.glob(path + "/*.txt")

In [104]:
import pandas as pd
dfs=[]
count=0
for filename in filenames:
  dfs.append(pd.read_csv(filename,delimiter="\n",header=None))
  dfs[count]=dfs[count].reset_index()
  dfs[count]["sentence id"]=filename.replace("/content/sample_data/myfolder/","")
  count+=1
#for i in range(len(dfs)):
  
  
bigdf=pd.concat(dfs, ignore_index=True)
for i in range(len(bigdf)):
  bigdf["sentence id"][i]=bigdf["sentence id"][i]+" "+str(bigdf["index"][i])
bigdf=bigdf[["sentence id",0]].rename(columns={0:"sentence"})
bigdf

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             sentence id                                           sentence
0     ARTHROTEC.10.txt 0                                      Hunger pangs.
1     ARTHROTEC.10.txt 1  Brilliant, I have a new lease of life, i walk ...
2     ARTHROTEC.91.txt 0  No side effects, but I always add acidophilous...
3     ARTHROTEC.91.txt 1  I am only taking 75 mg a day and it is wonderf...
4     ARTHROTEC.54.txt 0    I have not experienced any of the side effects.
..                   ...                                                ...
528  ARTHROTEC.30.txt 12  On top of that, I am now having to have a proc...
529  ARTHROTEC.30.txt 13  I truly hope that there are no long term effec...
530  ARTHROTEC.30.txt 14  I have not taken Arthrotec in almost a week, y...
531  ARTHROTEC.30.txt 15  I do not look forward to the extra pains I wil...
532  ARTHROTEC.30.txt 16  I feel that I have become dependent on this me...

[533 rows x 2 columns]

In [106]:
bigdf["new sentence"]=0
import re 
for i in range(len(bigdf)):
  bigdf["new sentence"][i]=re.sub(r'[^\w\s]', '', bigdf.sentence[i]) 

bigdf

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

             sentence id  ...                                       new sentence
0     ARTHROTEC.10.txt 0  ...                                       Hunger pangs
1     ARTHROTEC.10.txt 1  ...  Brilliant I have a new lease of life i walk up...
2     ARTHROTEC.91.txt 0  ...  No side effects but I always add acidophilous ...
3     ARTHROTEC.91.txt 1  ...  I am only taking 75 mg a day and it is wonderf...
4     ARTHROTEC.54.txt 0  ...     I have not experienced any of the side effects
..                   ...  ...                                                ...
528  ARTHROTEC.30.txt 12  ...  On top of that I am now having to have a proce...
529  ARTHROTEC.30.txt 13  ...  I truly hope that there are no long term effec...
530  ARTHROTEC.30.txt 14  ...  I have not taken Arthrotec in almost a week ye...
531  ARTHROTEC.30.txt 15  ...  I do not look forward to the extra pains I wil...
532  ARTHROTEC.30.txt 16  ...  I feel that I have become dependent on this me...

[533 rows x 3 columns]

In [110]:
sub =input()
print("the search word is ",sub)
bigdf[bigdf["new sentence"].str.contains(sub)]

he
the search word is  he

             sentence id  ...                                       new sentence
1     ARTHROTEC.10.txt 1  ...  Brilliant I have a new lease of life i walk up...
3     ARTHROTEC.91.txt 1  ...  I am only taking 75 mg a day and it is wonderf...
4     ARTHROTEC.54.txt 0  ...     I have not experienced any of the side effects
5     ARTHROTEC.54.txt 1  ...             Arthrotec helps me get through the day
6     ARTHROTEC.21.txt 0  ...  Didnt have much pain relief and within a few d...
..                   ...  ...                                                ...
525   ARTHROTEC.30.txt 9  ...  When I came across this website I was appalled...
526  ARTHROTEC.30.txt 10  ...  I firmly believe this is the answer to my blee...
527  ARTHROTEC.30.txt 11  ...  Although this drug has helped with the pain it...
529  ARTHROTEC.30.txt 13  ...  I truly hope that there are no long term effec...
531  ARTHROTEC.30.txt 15  ...  I do not look forward to the extra pains I wil...

[301 rows x 3 columns]

In [111]:
bigdf["new sentence"].str.count(sub).sum()

492

(4) Install packages nltk, numpy, scipy, pandas, and sklearn on Google Colab. Write a program to test whether they are installed successfully. (3 points for extra)

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.5)

In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.15.0)

In [ ]:
pip install scipy

Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy) (1.18.5)

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [ ]:
pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (0.16.0)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)

In [98]:
try:
    import numpy
    print("Package 'numpy' is installed Sucessfully")
except ModuleNotFoundError:
    print("Package 'numpy' is not installed")
try:
    import numpy
    print("Package 'scipy' is installed Sucessfully")
except ModuleNotFoundError:
    print("Package 'scipy' is not installed")
try:
    import numpy
    print("Package 'pandas' is installed Sucessfully")
except ModuleNotFoundError:
    print("Package 'pandas' is not installed")
try:
    import numpy
    print("Package 'sklearn' is installed Sucessfully")
except ModuleNotFoundError:
    print("Package 'sklearn' is not installed")
try:
    import numpy
    print("Package 'nltk' is installed Sucessfully")
except ModuleNotFoundError:
    print("Package 'nltk' is not installed")

Package 'numpy' is installed Sucessfully
Package 'scipy' is installed Sucessfully
Package 'pandas' is installed Sucessfully
Package 'sklearn' is installed Sucessfully
Package 'nltk' is installed Sucessfully